<li>
	<span><strong>{{burger_name}}</strong></span>
	<br>
	<button class="btn btn-success" id="changes" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}<i class="fas fa-shopping-bag"></i>{{else}}<i class="fas fa-cookie-bite"></i>{{/if}}
	</button>
	
	<button class="btn btn-danger" id="delete-burger" data-id="{{this.id}}"><i class="fas fa-trash"></i></button>
</li>